{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:all",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/all",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "one-var": [
      "error", "never"
    ],
    "id-length": "off",
    "sort-imports": "off",
    "import/order": "off",
    "class-methods-use-this": "off",
    "no-ternary": "off",
    "no-bitwise": "off",
    "no-nested-ternary": "off",
    "no-negated-condition": "off",
    "max-statements": "off",
    "max-lines-per-function": "off",
    "sort-keys": "off",
    "no-constant-condition": [
      "error",
      {
        "checkLoops": false
      }
    ],
    "@typescript-eslint/no-unnecessary-condition": [
      "error",
      {
        "allowConstantLoopConditions": true,
      }
    ],
    "@typescript-eslint/no-type-alias": "off",
    "@typescript-eslint/prefer-readonly-parameter-types": "off",
    "@typescript-eslint/no-magic-numbers": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "no-restricted-imports": [
      "error",
      {
        "patterns": ["@material-ui/*/*/*", "!@material-ui/core/test-utils/*"]
      }
    ],
    "@typescript-eslint/naming-convention": "off",
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "jsxSingleQuote": true,
        "trailingComma": "es5"
      }
    ]
  }
}
